---

---

<div
  class="dark text-muted justify-center text-sm bg-primary dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="dark:bg-slate-700 bg-slate-700 text-white font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >NEW</span
  >
  <p class="text-white hover:underline font-medium"
    >Read our new blog on the lessons we learnt as an agency owner in 2024 </p>
</div>
